@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Task Assignment</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                      </div>

                      <div class="clearfix"></div>
                      @foreach (var item in Model)
                            {
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                            <div class="well profile_view">
                              <div class="col-sm-12">
                                <h4 class="brief"><i>Business Project Personel</i></h4>
                                <div class="left col-xs-7">
                                  <h2>@item.Name @item.Surname</h2>
                                  <p><strong>Task Description: </strong> @item.Operation.Name </p>
                                  <ul class="list-unstyled">
                                    <li><i class="fa fa-bolt"></i> Task Level: @item.Operation.Difficulty </li>
                                  </ul>
                                </div>
                                <div class="right col-xs-5 text-center">
                                              <img src="~/gentela-gh-pages/production/images/personel.png" alt="" class="img-circle img-responsive">
                                </div>
                              </div>
                              <div class="col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                  <p class="ratings">
                                    <a>4.0</a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                  </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                  <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                    </i> <i class="fa fa-comments-o"></i> </button>
                                  <button type="button" class="btn btn-primary btn-xs">
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                            }
                      
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-5">
                          <a href="/Task/Index/" style="text-align:center" class="btn btn-round btn-success">ATAMA YAP !</a>
                        </div>                   
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- /page content -->

